@charset 'UTF-8';
/* 全体 */
.wrapper {
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}

#header {
    text-align: center;
    font-size: 44px;
    width: 100%;
    margin: 1rem 0 0;
}

/* カレンダー */
#calendar {
    text-align: center;
    font-size: 20px;
    width: 100%;
}

table {
   width: 100%;
}

td {
    cursor: pointer;
}

/* 日曜日 */
td:first-child {
    color: red;
}

/* 土曜日 */
td:last-child {
    color: blue;
}

/* 前後月の日付 */
td.disabled {
    color: #ccc;
}

/* 本日 */
td.today {
    background-color: #c1ff84;
}

/* ボタン */
#next-prev-button {
    position: relative;
}

#next-prev-button button {
    cursor: pointer;
    background-color: #749950;
    color: #fff;
    border: 1px solid #749950;
    border-radius: 4px;
    font-size: 15px;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}

#next-prev-button button:hover {
    background-color: #9bcc6a;
    border-color: #9bcc6a;
}

#prev {
    float: left;
}

#next {
    float: right;
}

/* 登録フォーム*/
#inputForm {
    width: 400px;
    visibility: hidden;
}
